<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <!--
  - Uncomment conection string to use durable storage.
  - Must also setup a durable StoreAsync( using schema located at:
    C:\Windows\Microsoft.NET\Framework\[framework version]\SQL\en\SqlPersistenceService_Schema.sql
  -->
  <!--<connectionStrings>
    <add name="DurableServices" connectionString="Data Source=(LocalDb)\MSSQLLocalDb;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>-->
  <appSettings>
    <add key="wcf:disableOperationContextAsyncFlow" value="false"/>
  </appSettings>
</configuration>
